<div class="container-fluid">
  <%= render 'shared/errors', obj: @article %>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @article do |a| %>
        <div class="form-group">
          <label>Title</label>
          <%= a.text_field :title, class: 'form-control', placeholder: 'Enter article title', autofocus: true %>
        </div>

        <div class="form-group">
          <label>Description</label>
          <%= a.text_area :description, class: 'form-control', placeholder: 'Enter article description' %>
        </div>

        <%= a.submit class: 'btn btn-primary' %>
        <%= link_to "Back to the articles", articles_path, class: 'btn btn-info' %>

      <% end %>
    </div>
  </div>
</div>
