<div class="container-fluid text-center col-6 offset-3">
  <br> <h1>All Alpha bloggers</h1> <br>
  <%= @users.each do |user| %>
    <br>
    <div class="card">
      <%= gravatar_for(user, size: 180) %>
      <div class="card-body">
        <h5 class="card-title"><%= user.username %></h5>
        <small class="card-title"><%= pluralize(user.articles.count, "article") %></small> <br> <br>
        <%= link_to 'Show user', user_path(user), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>