<div class="container-fluid container-card col-6 offset-3 text-center">
  <br> <h1>Welcome to <%= @user.username %>'s page</h1> <br>
  <div class="user_profile">
    <%= gravatar_for @user %>
  </div>
  <br>
  <h4><%= @user.username %>'s articles</h4>
  <%= link_to 'Update my profile', edit_user_path(@user), class: 'btn btn-info' if current_user == @user %>
</div>

<div class="container-fluid container-card text-center">
  <div class="col-6 offset-3 pagination">
    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
  <%= render 'articles/article', articles: @articles %>
  <br>
  <div class="col-6 offset-3 pagination">
    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>