<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Alpha Blog', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Articles', articles_path, class: 'nav-link' %>
      </li>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Categories', categories_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'New Article', new_article_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'View users', users_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% end %>
    </ul>

    <!--    <form class="form-inline my-2 my-lg-0">-->
    <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--    </form>-->
    <% if logged_in? %>
      <ul class="navbar-nav profile_dropdown_user">
        <% if logged_in? && current_user %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <a href="#" class="nav-link">Admin</a>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to current_user.email, user_path(current_user), class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Update profile', edit_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'View profile', user_path(current_user), class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
      <%= link_to 'Log out', logout_path, method: :delete, class: 'btn btn-danger logout-btn' %>
    <% else %>
      <%= link_to 'Login', login_path, class: 'btn btn-primary login-btn' %>
    <% end %>

  </div>
</nav>